@use "./variables";

/*MOBILE FIRST*/

.h1_clientes{
    font-size: variables.$h1_size - 4; 
    font-family: variables.$font_h1;
    color: variables.$h1_color;
    padding-top: 10px;
}

.div_h2 {
    h2{
        font-family: variables.$font_general;
        font-style: oblique;
    }
}

@mixin tamanos ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.main_clientes {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    div {
        @include tamanos(280px,280px);
        margin: 5px;
        font-family: variables.$font_general;

            h3{
                font-weight: bold;
                font-variant: small-caps;
            }
    }
}

.div2_clientes {
    background-color:  rgba(172, 255, 47, 0.422);
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.div_1_3_clientes {
    background-color:  rgba(172, 133, 240, 0.422); 
    padding-left: 10px;
    padding-top: 25px;
    
}

@media screen and (min-width:480px) {
    .h1_clientes{
        font-size: variables.$h1_size - 3; 

    }

    .div_div2 {
        padding-left: 160px;
    }

 
}

@media screen and (min-width:600px) {
    .div_div2 {
        padding-left: 250px;
    }

    .div_div3 {
        padding-left: 50px;
    }
}

@media screen and (min-width:1023px){
    .main_clientes {
        padding-right: 80px;
        padding-left: 100px;
        background-image: url(../imagenes/34839191_8232287.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size:60%;
    }

    .div_div2 {
        padding-left: 600px;
    }

    .div_div3 {
        padding-left: 1px;
    }
    
 



}

@media screen and (min-width:1200px) {

    
    .div_div2 {
        padding-left: 1000px;
    }

    .h1_clientes {
        padding-top: 50px;
        font-size: variables.$h1_size - 1;
    }
}